---
layout: blog
title: index
permalink: /
---
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                        <li><a class="page-scroll" title="Volte para a páginal inicial ou topo." href="#page-top">Início</a></li>
                        <li><a class="page-scroll" title="Ainda não me conhece? Clique aqui." href="#about_me">Sobre</a></li>
                        <!-- <li><a class="page-scroll" title="Veja um pouco da minha história." href="#career">Carreira</a></li> -->
                        <li><a class="page-scroll" title="O que aprendi, trabalho e estudo." href="#skills">Conhecimentos</a></li>
                        <li><a class="page-scroll" title="Eu também escrevo. Veja minhas postagens." href="http://www.jaimemaretoli.com/blog">Blog</a></li>
                        <li><a class="page-scroll" title="Veja um pouco de minhas palestras." href="http://www.talk.jaimemaretoli.com/">Slides</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn"></div>
            </div>
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="about_me" class="features">
    <div class="container" id="i18_about_me">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Sobre</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 wow fadeInLeft">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-java-duke"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInLeft">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-shell"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="team-member wow zoomIn">
                    <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }} </h4>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInRight">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-mobile-device"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInRight">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-java-bold"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Hello World! Era uma vez quando eu ganhei um computador, o tempo passou e atualmente sou desenvolvedor na <a target="_blank" href="http://www.meta.com.br/site/">Meta IT Services</a>. Além disso, graduando em sistemas de informação e técnico em informática. Também sou voluntário em diversas comunidades de tecnologia, escritor, palestrante, organizador de eventos relacionados a TI, curioso, entusiasta e ❤️ pela tecnologia.</p>
            </div>
        </div>
    </div>
</section>

<!-- <section id="career" class="timeline features gray-section">
    <div class="container" id="i18_career">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Minha <strike>carreira</strike> História</h1>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-child"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>Jaime vindo ao mundo</h2>
                            <p>Na data de 05/11/1997 nascia um grande menino, literalmente, com 5kg, chamado Jaime na pequena cidade de Cacequi, no interior do Rio Grande do Sul.</p>
                            <span class="vertical-date">1997
                                <br/>
                                <small>Nascimento</small>
                            </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-automobile"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>1ª mudança</h2>
                            <p>Ainda pequeno fui viver numa cidade maior chamada Santiago (não, não é do chile) conhecida como a terra dos poetas. Me tornava mais um Santiaguense.</p>
                            <span class="vertical-date">1998
                                <br/> 
                                <small>Santiago, RS</small> 
                            </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-futbol-o"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>Escola</h2>
                            <p>O ensino básico foi feito no Colégio Apolinário Porto Alegre, em Santiago, e nesse tempo Jaime já sonhava, sim, já buscava um sonho — ser jogador de futebol.</p>
                            <span class="vertical-date">2006
                                <br/>
                                <small>1º Sonho</small>
                            </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-futbol-o"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2>Em busca do sonho</h2>
                            <p>Estudando a tarde, conseguia liberação da escola para sair mais cedo da aula e ir treinar em um projeto (time) de futsal da cidade.</p>
                            <span class="vertical-date">2009<br/>
                                <small>Futebol</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h2>Fui pegar um <i class="fa fa-coffee" aria-hidden="true"></i>, ainda em construção...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="skills" class="team features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" id="i18_skills">
                <div class="navy-line"></div>
                <h1>Conhecimentos</h1>
            </div>
        </div>
        <div class="row features-block">
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow fadeInLeft">
              <p>Sistemas Operacionais</p>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar"></div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow fadeInLeft">
              <p>HTML&#38;CSS</p>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar"></div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow fadeInLeft">
              <p>SQL</p>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar"></div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow fadeInLeft">
              <p>GNU/Linux</p>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class="progress-bar"></div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow fadeInLeft">
              <p>Frameworks FrontEnd</p>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar"></div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>

<br />

<section id="blog" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
                <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="/blog/">POSTAGENS</a>
                <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="http://www.talk.jaimemaretoli.com/">SLIDES</a>
            </div>
        </div>
    </div>
</section>

<section id="link" class="contact features">
    <div class="container" id="i18_link">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="team-member wow zoomIn">
                    <h4><span class="navy">{{ site.jingyu.first_name }}</span> {{ site.jingyu.last_name }}</h4>
                    <p>{{ site.jingyu.description }}</p>
                    <h1>Sigam-me os bons!</h1>
                    <ul class="list-inline social-icon" style="margin-left: -30px; margin-right: -30px;">
                        <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                        <li><a href="https://br.linkedin.com/in/jaimemaretoli" target="blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/jaimemaretoli" target="blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/jaimemaretoli" target="blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2017 {{ site.title }}</strong></p>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });
    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>