<div class="search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" 
           placeholder="Search Blog"
           >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png"  id="close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/search/img/cb-search.png" id="search-btn" title="双击ctrl试一下"/>
</div>

<link rel="stylesheet" href="{{ "search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "search/js/cb-search.js" | prepend: site.baseurl }}"></script>
