<!-- <div class="search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" 
           placeholder="Search Blog"
           >

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="/search/img/cb-close.png"  id="close-btn"/>
    </div>
</div> -->

<!-- <div style="position: fixed; right: 16px; bottom: 20px; z-index: 9999;">
    <img src="/search/img/cb-search.png"  id="search-btn"  title="Double click Ctrl"/>
</div> -->

<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ site.title }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="/blog/">{{ site.index.home }}</a></li>

                        <!-- {% if page.title == site.index.python %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/python/">{{ site.index.python }}</a></li>

                        {% if page.title == site.index.linux %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/linux/">{{ site.index.linux }}</a></li>

                        {% if page.title == site.index.html %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/html/">{{ site.index.html }}</a></li>

                        {% if page.title == site.index.database %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/database/">{{ site.index.database }}</a></li>

                        {% if page.title == site.index.mac %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/mac/">{{ site.index.mac }}</a></li>

                        {% if page.title == site.index.life %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                            <a class="page-scroll" href="/life/">{{ site.index.life }}</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
