<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <title>
    {% if page.title != "index" %}
        {{ site.title }} | {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "static/img/favicon.ico" | prepend: site.baseurl }}">

  <!-- Third-party CSS -->
  <link href="{{"bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/animate.css/animate.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{"static/font-mfizz/font-mfizz.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/toastr/toastr.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/jquery.gritter/css/jquery.gritter.css"| prepend: site.baseurl }}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ "search/css/cb-search.css" | prepend: site.baseurl }}"> -->

  <!-- Custom styles for this template -->
  <link href="{{"static/css/style.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/css/pygments.css"| prepend: site.baseurl }}" rel="stylesheet">

  <!-- Scripts -->
  <script src="{{"bower_components/jquery/dist/jquery.min.js"| prepend: site.baseurl }}"></script>
  <!-- <script src="{{ "search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script> -->

  <!-- cb-search -->
  <!-- <script src="{{ "search/js/cb-search.js" | prepend: site.baseurl }}"></script> -->
  <!-- <script>
    $(function(){
        $("pre").css('display','block');
    });
  </script> -->
  <!-- Mainly scripts -->
  <script src="{{"bower_components/bootstrap/dist/js/bootstrap.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/metisMenu/dist/metisMenu.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/jquery-slimscroll/jquery.slimscroll.min.js"| prepend: site.baseurl }}"></script>

  <!-- Peity -->
  <script src="{{"bower_components/peity/jquery.peity.min.js"| prepend: site.baseurl }}"></script>

  <script src="{{"bower_components/PACE/pace.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/wow/dist/wow.min.js"| prepend: site.baseurl }}"></script>
  <!-- Custom and plugin javascript -->
  <script src="{{"static/js/inspinia.js"| prepend: site.baseurl }}"></script>

  <!-- Rickshaw -->
  <script src="{{"bower_components/rickshaw/vendor/d3.v3.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/rickshaw/rickshaw.min.js"| prepend: site.baseurl }}"></script>


  <!-- jPages -->
  <script src="{{"static/js/jPages.js" | prepend: site.baseurl}}"></script>
  <script src="{{"static/js/js.js" | prepend: site.baseurl}}"></script>
  <script id="dsq-count-scr" src="//jalpc.disqus.com/count.js" async></script>
  <script type="text/javascript">
        $(function(){
          /* initiate the plugin */
          $("div.pag-holder").jPages({
              containerID  : "pag-itemContainer",
              perPage      : 5,  /* num of items per page */
              startPage    : 1,
              startRange   : 1,
              midRange     : 3,
              endRange     : 1
          });
      });
  </script>
</head>
