<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="baidu-site-verification" content="Eg92n5CR4G" />

  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }}</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "static/img/favicon.ico" | prepend: site.baseurl }}">

  <!-- Third-party CSS -->
  <link href="{{"bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/animate.css/animate.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/components-font-awesome/css/font-awesome.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/font-mfizz/font-mfizz.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/toastr/toastr.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/jquery.gritter/css/jquery.gritter.css"| prepend: si`te.baseurl }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{"static/css/pygments.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/css/style.min.css"| prepend: site.baseurl }}" rel="stylesheet">

  <!-- Third-party scripts -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script src="{{"bower_components/jquery/dist/jquery.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/bootstrap/dist/js/bootstrap.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/i18next/i18next.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/PACE/pace.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/wow/dist/wow.min.js"| prepend: site.baseurl }}"></script>

  <!-- Custom and plugin javascript -->
  <!-- <script src="{{"static/js/inspinia.js"| prepend: site.baseurl }}"></script> -->

</head>
