---
layout: default
---
 
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    <br>
                    	{% for category in page.categories %}
                        	<button class="btn btn-white btn-xs" type="button">{{ category }}</button>
                        {% endfor %}
                    </div>
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>
                    	{{ content }}

                        <br>

                        <h5 style="white-space: nowrap !important;">Tags:</h5>
                        {% for tag in page.tags %}
                            <button class="btn btn-white btn-xs" style="white-space: nowrap !important;" type="button">{{ tag }}</button>
                        {% endfor %}
                    
                    <!--<div class="row" style="white-space: nowrap !important;">
                         <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> 
                                {% if site.changyan %}
                                    <i class="fa fa-comments-o"> </i> <span id = "url::{{post.url | prepend: page.url}}" class = "cy_cmt_count" ></span> comments
                                {% endif %}
                                {% if site.disqus %}
                                <i class="fa fa-comments-o"> </i> <span class='disqus-comment-count' data-disqus-url="{{ site.url }}{{ page.url }}">0</span> comments
                                {% endif %}
                                </div>
                            </div>
                        </div> 
                    </div>-->

                    <br><hr>

                    <div class="row">
                        <div class="col-md-12">
                                <h2>Entre em contato!</h2>
                                <form action="https://formspree.io/jm@jaimemaretoli.com" method="POST">
                                    <div class="form-group">
                                        <label for="nome">Nome:</label>
                                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Me informe seu nome completo">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input type="email" id="_replyto" name="_replyto" class="form-control" placeholder="Seu principal email">
                                    </div>
                                    <div class="form-group">
                                        <label for="nome">Assunto:</label>
                                        <input type="text" name="_subject" id="assunto" class="form-control" placeholder="Digite o assunto/título da mensagem">
                                    </div>
                                    <div class="form-group">
                                        <label for="mensagem">Mensagem:</label>
                                        <textarea name="mensagem" id="mensagem" cols="30" rows="5" class="form-control" placeholder="Escreva toda a sua mensagem aqui"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">ENVIAR</button>
                                        <!--<input type="hidden" name="_next" value="https://sounoob/com.br/contato/obrigado" />  AQUI VAI PARA A PAGINA DE AGRADECIMENTO PELO CONTATO Exemplo: https://sounoob.com.br/contato/obrigado/-->
                                        <input type="text" name="_gotcha" style="display: none;" />
                                    </div>
                                </form>
                        </div>
                    </div>
                    
                    <!-- <br>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            donate 
                            {% if site.donate %}
                                {% include donate.html %}
                            {% endif %}
                            <br>
                             share 
                            {% if site.bshare %}
                                {% include share.html %}
                            {% endif %}
                            <br>
                            comment 
                            {% include comments.html %}
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>